.category= resources.info.category

article(style='width:#{article.width}px')
	.article-info
		h2.title= resources.info.title
		h3.subtitle= resources.info.subtitle
		.publication
			span.author #{resources.info.author} |
			time(datetime='#{resources.info.date}')
				| #{resources.info.formatted_date}

	hr.separator

	.article-content
		each section in article.sections
			section
				if section.title
					.title= section.title
				each item in section.items
					case item.type
						when 'paragraph'
							p
								each content_item in item.content
									case content_item.type
										when 'text'
											| #{content_item.content}
										when 'footnote'
											sup(id='footnote-ref:#{content_item.index}')
												a.footnote(href='#footnote:#{content_item.index}', rel='footnote')
													| #{content_item.index+1}

						when 'image'
							.image
								img(src='data:image/png;base64,#{resources.images[item.index].base64}')

	hr.separator

	ol.article-footnotes
		each footnote,index in resources.footnotes
			li(id='footnote:#{index}')
				| #{footnote.text}
				a.footnote-back(href='#footnote-ref:#{index}')
					| ↩
