article
	width: 700px
	margin: 0 auto
	overflow: hidden /* prevent full-width selection */

	.article-info
		font-family: 'Open Sans Light'
		h2.title
			margin: 0
			font-size: 36px
			letter-spacing: -1px
			font-weight: normal
		h3.subtitle
			margin: 0
			font-size: 18px
			font-weight: normal
		.publication
			margin: 10px 0
			font-size: 12px

	.article-content
		section
			p
				margin: 0 0 1.5em
				font-size: 14px
				line-height: 1.5em

			.title
				margin: 1em 0
				font-size: 18px
				font-weight: bold
			.image
				margin: 0 0 1.5em
				padding: 4px 0
				text-align: center

	.article-footnotes
		font-family: 'Open Sans Light'
		font-size: 14px

	hr.separator
		border: 0
		height: 0
		border-top: 1px solid darkgray
