@font-face
	font-family: 'Open Sans'
	src: url('fonts/OpenSans-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Open Sans'
	src: url('fonts/OpenSans-Italic.ttf') format('truetype')
	font-weight: normal
	font-style: italic

@font-face
	font-family: 'Open Sans'
	src: url('fonts/OpenSans-Semibold.ttf') format('truetype')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Open Sans'
	src: url('fonts/OpenSans-SemiboldItalic.ttf') format('truetype')
	font-weight: bold
	font-style: italic

/* Light */

@font-face
	font-family: 'Open Sans Light'
	src: url('fonts/OpenSans-Light.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Open Sans Light'
	src: url('fonts/OpenSans-LightItalic.ttf') format('truetype')
	font-weight: normal
	font-style: italic

@font-face
	font-family: 'Open Sans Light'
	src: url('fonts/OpenSans-Regular.ttf') format('truetype')
	font-weight: bold
	font-style: normal
