@import 'fonts.styl'
@import 'article.styl'

body
	font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Calibri, sans-serif
	background: #f9f9f9

::selection
	background: #666
	color: white

a:link,
a:visited
	color: #2983c8
	text-decoration: none

a:hover,
a:focus,
a:active
	color: #20679e
	text-decoration: underline

a.footnote, a.footnote-back
	padding: 0.2em 0.4em 0 0.2em

.drop-area
	$color = lightblue
	$border-width = 8px

	position: absolute
	width: 200px
	height: 200px
	top: calc(unquote('50% - ' + @width/2))
	left: calc(unquote('50% - ' + @height/2))
	box-sizing: border-box
	padding-top: 44px
	text-align: center
	color: $color
	font-size: 2em
	border: $border-width dashed lighten($color, 50%)
	border-radius: 2*$border-width
	transition: color 1s, background-color 1s
	-webkit-user-select: none

	&.active
		background-color: darken($color, 25%)
		color: white

.category
	position: fixed
	right: 0
	top: 125px
	-webkit-transform: rotate(90deg)
	-webkit-transform-origin: 100% 0
	padding: 6px 20px
	font-size: 20px
	background: gold






